*, *::before, *::after  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

header {
    background-color: #007765;
    height: 84px;
}

header nav {
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}

.main-container {
    height: 403px;
    background-image: url(/pied_piper_landing_page/img/bg.png);
    display: flex;
}

.main-container h1 {
    font-size: 72px;
    text-align: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.third-container {
    background-image: url(/pied_piper_landing_page/img/second_bg.png);
    height: 483px;
}

.third-container-p {
    width: 876px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-style: italic;
}

h2 {
    color: #007765;
    font-size: 64px;
    text-align: center;
}

p {
    font-size: 32px;
    color: #000000;
    max-width: 1110px;
    margin: auto;
}