*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body {
}

h2 {
  color: #007765;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
}

p {
  font-size: 2rem;
  color: #000000;
  width: 100%;
}

p:first-of-type {
  margin-top: 0.5em;
}
p:not(:last-of-type) {
  margin-bottom: 1.25em;
}

.d-inline-block {
  display: inline-block;
}

.max-width-930 {
  max-width: 930px;
}

.pt-3 {
  padding-top: 3em;
}

.pb-5_75 {
  padding-bottom: 5.75em;
}

.ml-1_5 {
  margin-left: 1.5em;
}

.pt-1 {
  padding-top: 1em;
}
.mt-1 {
  margin-top: 1em;
}

.mb-0_5 {
  margin-bottom: 0.5em;
}
.pb-5_25 {
  padding-bottom: 5.25em !important;
}
.pt-3_625 {
  padding-top: 3.625em !important;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto !important;
}

.bg-clr-eeeeee {
  background-color: #eeeeee;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex !important;
}
.flex-direction-column {
  flex-direction: column !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-inner {
  width: 100vw;
  max-width: 1110px;
  margin: auto;
}

.header {
  background-color: #007765;
  height: 84px;
  position: sticky;
  top: 0;
  /* width: 100vw; */
  z-index: 999;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  margin: auto 0;
}

.header ul li a {
    text-decoration: none;
    color: #ffffff;
}

#the-problem:target, #ppc:target, #the-team:target {
    display: block;
    position: relative;
    top: -132px;
    visibility: hidden;
}

.header ul li:not(:last-of-type)::after {
  content: "I";
  margin: 0 12px;
}

.pipernet-is-here-bg {
  position: relative;
}
.pipernet-is-here-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-image: url("../img/bg.png");
}
.pipernet-is-here-heading {
  font-size: 4.5rem;
  text-align: center;
  margin: 2.222em 0;
}

.we-are-together-bg {
  position: relative;
}
.we-are-together-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-image: url("../img/second_bg.png");
  background-size: 100%;
}
.we-are-together-paragraph {
  max-width: 893px;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  margin: 2.667em auto !important;
}

.container-with-content {
  padding-bottom: 3.25em;
}

.the-team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.the-team-row:not(:last-of-type) {
  margin-bottom: 1.875em;
}

.the-team-col {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 0 1.75em;
}

.team-member-header {
  font-size: 1.5rem;
  color: #007765;
  font-weight: 700;
  margin-top: 0.5em;
}

.team-member-description {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  margin: 0 !important;
}

.team-member-image {
  width: 168px;
  height: auto;
  margin: 0 auto;
}

footer.container {
  background-color: #333333;
  padding: 3.125em 0 3.875em;
}

footer.container p {
  text-align: center;
  max-width: 540px;
  font-size: 1.125rem;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .pipernet-is-here-bg::before,
  .we-are-together-bg::before {
    animation-name: bg-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    background-position: center;
  }

  .pipernet-is-here-bg::after, .we-are-together-bg::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .8;
      top: 0;
      left: 0;
      z-index: -888;
  }

  @keyframes bg-animation {
    from {
      background-size: 100%;
    }
    50% {
      background-size: 600%;
    }
    to {
      background-size: 100%;
    }
  }
  .container-inner {
    width: 100%;
  }
  .the-team-row {
    flex-direction: column;
  }
  .header nav ul {
    display: none;
  }
  .ml-1_5 {
    margin-left: unset;
  }
  .the-team-col {
    max-width: 100%;
  }
  .ppc-container-inner img {
    display: none;
  }
  .pipernet-is-here-heading {
    margin: 5em 0;
  }
}
